.stepper-container-horizontal {
  margin: 10px auto;
  margin-bottom: 0px;
  padding: 30px 0px;
}
.stepper-wrapper-horizontal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $gray-350;
  .step-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .step-number {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid $gray-350;
    width: 36px;
    height: 36px;
    padding: 3px;
    text-align: center;
    margin-bottom: 19.2px;
    background: $white;
    z-index: $ground;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .step-number.step-number-active {
    border: 1px solid $light-green;
    background-color: $light-green;
    color: $white;
  }
  .step-description {
    color: $black;
    font-weight: 500;
    font-size: 20px/24px;
    letter-spacing: 0px;
    color: black;
  }
  .divider-line.divider-active {
    background-color: $light-green;
  }
  .divider-line {
    height: 2px;
    background-color: $gray-350;
    position: absolute;
    top: 21%;
    left: 50%;
    width: 100%;
    z-index: $under_ground;
  }
}
.step-number-selected {
  border: 1px solid #bdbdbd;
  color: $white;
}

.step-number-disabled {
  border: 1px solid #838383;
}
